<article class="card-container p-3">

    <div class="rentals card mb-2 mx-auto bg-light" style="max-width: 75%; border: none;">
        <div class="row g-0">
            <div class="col-md-4 text-center mt-4">
                <Rental::Image
                src="../assets/images/grand-mansion.jpg"
                alt="Mansion"
                class="rounded"
                style="height: 100px; width: auto;"
                />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title mb-4"><strong>Grand Old Mansion</strong></h5>
                    <div class="details d-flex">
                        <div class="owner-location me-4">
                            <p class="owner"><b>Owner:</b> Veruca Salt</p>
                            <p class="location"><b>Location:</b> San Francisco</p>
                        </div>
                        <div class="type-bedrooms ms-4">
                            <p class="type"><b>Type:</b> Standalone</p>
                            <p class="bedrooms"><b>Number of Bedrooms:</b> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>