<Container>
    <Jumbo>
        <div class="text">
            <h1 class="fw-bold">About Super Rentals</h1>
            <p>
                The Super Rentals website is a delightful project created to explore Ember.
                By building a property rental <br> site, we can simultaneously imagine traveling
                AND building Ember applications.
            </p>
        </div>
        <div class="right tomster">
            <img src="../assets/images/teaching-tomster.png" alt="" srcset="">
        </div>
    </Jumbo>
        <div class="contact-btn text-center">
            <LinkTo @route="contact" class="button"><button type="button" class="btn btn-primary">Contact Us</button>
            </LinkTo>
        </div>

</Container>