<div class="container p-5">
    <div class="jumbo">
        <div class="text">
            <h1 class="fw-bold">Welcome to Super Rentals!</h1>
            <p class="">We hope you find exactly what you're looking for in a place to stay.</p>
        </div>
        <div class="right tomster">
            <img src="../assets/images/teaching-tomster.png" alt="" srcset="">
        </div>
    </div>
    <div class="contact-btn text-center">
        <LinkTo @route="about" class="button"><button type="button" class="btn btn-primary">About Us</button></LinkTo>
    </div>
</div>